<footer class="container-fluid text-center p-1" style="position:fixed;bottom:0;background:white;font-size:12px;max-height: 22px; resize: none; opacity: 50%;">
    <p><em>Copyright &copy 2021 team20. All Rights Reserved</em></p>
</footer>